@media all and (min-width: 768px) {
    .alice-carousel__stage { 
        padding-left: 43%; 
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .alice-carousel__stage { 
        padding-left: 34%; 
    }
    .calendar-info {
        padding: 5px 1.5em !important;
        font-size: 16px !important;
    }
    .calendar-move {
        font-size: 18px !important;
    }
}

@media all and (max-width: 320px) {
    .calendar-info {
        overflow: hidden;
        padding: 5px 1.5em !important;
    }
    .card-title {
        font-size: 14px;
    }
    .calendar-move {
        font-size: 13px !important;
    }
}

.item-calendar {
    text-align: center;
    line-height: 3.1;
    cursor: not-allowed;
    height: 45px;
    //background-color: #dde2fa;
    //padding-bottom: 5em;
    color: #495057 !important;
}

.item-calendar-active {
    text-align: center;
    line-height: 3.1;
    cursor: pointer;
    height: 45px;
    //padding-bottom: 5em;
    border-radius: 6px 6px 0 0;
}

.prev-icon{
    left: 15px;
}

.next-icon {
    right: 15px;
}

.calendar-info {
    padding: 8px 2em;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    position: relative;
    z-index: 0;
}
.title-info-calandar::after {
  content: attr(fullText);
  position: absolute;
}

.fa-chevron-right:before {
    content: "\f054";
}
.fa-chevron-left:before {
    content: "\f053";
}

.calendar-move {
    position: absolute;
    top: 50px;
    font-size: 24px;
    padding: 5px;
    height: 26px;
    cursor: pointer;
}
